<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/img/aula1.avif"></ion-img>
  <div class="login">
    <ion-title class="titulo" size="medium">Welcome Back</ion-title>
    <ion-input label="Ingrese su usuario" label-placement="floating" fill="outline" placeholder="Usuario"></ion-input>
    <ion-input label="Ingrese su contraseña" label-placement="floating" fill="outline" placeholder="Contraseña" type="password"></ion-input>
    <ion-button fill="outline">Login</ion-button>
  </div>
</ion-content>