ion-header {
  position: absolute;
}

ion-toolbar {
  --opacity: 0;
  --background: transparent;
}

ion-content {
  position: relative;
  height: 100%;
  width: 100%;
}

ion-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.login {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  max-width: 400px;
  width: 80%;
  padding: 30px; 
  /*backdrop-filter: blur(10px);*/
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(8, 53, 83, 0.93);
  border: 1px solid rgb(1, 87, 131);
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 25px;
}

.titulo {
  text-align: center;
  color: white;
  margin: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.links{
  display:flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

ion-input {
  width: 100%;
  background:white;
  --padding-start: 15px;
  border-radius: 10px;
  height: 50px;
  font-family:Arial, Helvetica, sans-serif;
  --placeholder-color: rgb(0, 0, 0);
}

ion-button {
  width: 60%;
  --background:rgba(52, 51, 51, 0.929) ;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

.recuperar{
  color: white;
}

.login {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

