<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/img/sala4.webp"></ion-img>
  <div class="login">
    <ion-title class="titulo" size="medium">BIENVENIDO</ion-title>
    <ion-input label="Ingrese su usuario" label-placement="floating" fill="inline" placeholder="Usuario"></ion-input>
    <ion-input label="Ingrese su contraseña" label-placement="floating" fill="inline" placeholder="Contraseña" type="password"></ion-input>
    <ion-button fill="intline">Ingresar</ion-button>
    <!--INGRESAR LOS RESPECTIVOS ROUTERLINK-->
    <div class="links">
      <ion-text class="recuperar">¿Olvidó su contraseña? </ion-text>
      <ion-text>Recuperar</ion-text>
      <ion-text class="registrar">¿No tienes cuenta?</ion-text>
      <ion-text>Registrar</ion-text>
    </div>
  </div>
</ion-content>