.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .titulo {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .subtitulo {
    color: gray;
    font-size: 1rem;
    margin: 0;
  }
  
  .input-container {
    width: 100%;
  }
  
  .input {
    font-size: 1.1rem;
  }
  
  ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
  }
  
  .boton{
      text-align: center;
  }

.volver-login{
  text-align: center;
}

  /* @import "@ionic/angular/css/palettes/dark.always.css"; */