<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="header">
      <h1 class="titulo">Ingresa tu usuario</h1>
      <p class="subtitulo">Para restablecer su contraseña</p>
    </div>

    <div class="input-container">
      <ion-item class="input">
        <ion-input [(ngModel)]="email" placeholder="Ingresa tu usuario"></ion-input>
        <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-item>

      <ng-container *ngIf="showPasswordFields">
        <ion-item class="input">
          <ion-input [(ngModel)]="password" type="password" placeholder="Nueva contraseña"></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="input">
          <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirmar contraseña"></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
      </ng-container>

      <div class="boton">
        <ion-button (click)="showPasswordFields ? onSubmit() : togglePasswordFields()">
          {{ showPasswordFields ? 'Restablecer contraseña' : 'Continuar' }}
        </ion-button>
      </div>
    </div>       
  </div>
  <!--<div class="volver-login">
    <button onclick="goToLogin()" expand="full" color="light"></button>
  </div>--->
</ion-content>