<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="cerrarSesion()">Cerrar Sesion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Registro de Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-text color="primary" *ngIf="mensajeBienvenida">
      <h2 class="ion-text-center">{{ mensajeBienvenida }}</h2>
    </ion-text>
    
    <ion-button expand="block" color="primary" (click)="registrarAsistencia()">Registrar Asistencia</ion-button>
    
    <div *ngIf="fechaHoraRegistro" class="asisRegist">
      <ion-text color="dark">
        <h3>¡Asistencia registrada!</h3>
        <p>Fecha y Hora: {{fechaHoraRegistro}}</p>
      </ion-text>
    </div>
  </ion-content>
</div>