ion-button {
    margin-top: 20px;
  }

.asisRegist{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    left: 15%; 
    transform: translateY(50%); 
    text-align: center; 
    padding: 3px; 
    background-color: #cfcfcf; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}