ion-button {
    margin-top: 20px;
  }

ion-toolbar{
  color: black;
  --background: transparent;
  background-color: rgba(221, 43, 75, 0.914);
}

.asisRegist{
  --background:transparent;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: absolute; 
  left: 16%; 
  transform: translateY(50%); 
  text-align: center; 
  padding: 3px; 
  background-color: #cfcfcf; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}